name: Deploy

on:
  push:
  release:
    types: [released]

jobs:
  job:
    name: Build docs
    runs-on: ubuntu-latest
    env:
      TARGET: steam-py/steam-py.github.io

    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: ${{ env.TARGET }}
          path: steam-py.github.io
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          # TODO cache

      - name: Install
        uses: snok/install-poetry@v1
        with:
          version: 1.2.0b2

      - name: Install Dependencies
        run: |
          poetry install --with docs

      - name: Build
        if: ${{ github.event_name == 'push' }}
        run: |
          poetry run python scripts/build_docs_for_pages.py
      - name: Build
        if: ${{ github.event_name == 'release' }}
        run: |
          poetry run python scripts/build_docs_for_pages.py --tag=${{ github.event.release.tag_name }}

      - name: Push
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.DEPLOY_KEY }}
          external_repository: ${{ env.TARGET }}
          publish_branch: main
          publish_dir: steam-py.github.io
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
